<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrzhen.huozhiwang.dao.MallUserMapper">
    <resultMap id="Base_ResultMap" type="com.zrzhen.huozhiwang.entity.MallUser">
        <id column="user_id" property="userId" ></id>
        <result column="login_name" property="loginName"></result>
        <result column="nick_name" property="nickName"></result>
        <result column="password_md5" property="passwordMd5"></result>
        <result column="introduce_sign" property="introduceSign"></result>
        <result column="address" property="address"></result>
        <result column="is_deleted" property="isDeleted"></result>
        <result column="locked_flag" property="lockedFlag"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>
    <sql id="Base_Column_List">
    user_id, nick_name, login_name, password_md5, introduce_sign, address, is_deleted,
    locked_flag, create_time
    </sql>
    <!--注册操作时，根据用户名查询用户是否存在-->
    <select id="selectByLoginName" parameterType="java.lang.String" resultMap="Base_ResultMap">
        select
        <include refid="Base_Column_List"></include>
        from mall_user
         where login_name = #{loginName} and is_deleted = 0
    </select>

    <insert id="insertSelective" parameterType="com.zrzhen.huozhiwang.entity.MallUser">
        insert into mall_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null" >
                user_id,
            </if>
            <if test="nickName != null" >
                nick_Name,
            </if>
            <if test="loginName != null" >
                login_Name,
            </if>
            <if test="passwordMd5 != null" >
                password_md5,
            </if>
            <if test="introduceSign != null">
                introduce_sign,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="lockedFlag != null">
                locked_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="passwordMd5 != null">
                #{passwordMd5,jdbcType=VARCHAR},
            </if>
            <if test="introduceSign != null">
                #{introduceSign,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="lockedFlag != null">
                #{lockedFlag,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--登录功能-->
    <select id="selectByLoginNameAndPassword" resultMap="Base_ResultMap">
        select
        <include refid="Base_Column_List"></include>
        from mall_user
        where login_name = #{loginName}
        and password_md5 = #{passwordMd5}
    </select>

    <!--根据主键查询用户-->
    <select id="selectByPrimaryKey" resultType="com.zrzhen.huozhiwang.entity.MallUser" resultMap="Base_ResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_user
        where user_id = #{userId,jdbcType=BIGINT}
    </select>
    <!--修改用户信息-->
    <update id="updateByPrimaryKeySelective" parameterType="com.zrzhen.huozhiwang.entity.MallUser">
        update mall_user
        <set>
            <if test="nickName != null and nickName != ''">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null and loginName != ''">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="passwordMd5 != null and passwordMd5 != '' ">
                password_md5 = #{passwordMd5,jdbcType=VARCHAR},
            </if>
            <if test="introduceSign != null and introduceSign != ''">
                introduce_sign = #{introduceSign,jdbcType=VARCHAR},
            </if>
            <if test="address != null and address != '' ">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null and isDeleted != '' ">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="lockedFlag != null and lockedFlag != ''">
                locked_flag = #{lockedFlag,jdbcType=TINYINT},
            </if>
            <if test="createTime != null and createTime != ''">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_id = #{userId,jdbcType=BIGINT}
    </update>
</mapper>
