<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrzhen.huozhiwang.dao.ShoppingCartItemMapper">
    <resultMap id="BaseResultMap" type="com.zrzhen.huozhiwang.entity.ShoppingCartItem">
        <id column="cart_item_id" jdbcType="BIGINT" property="cartItemId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="goods_count" jdbcType="INTEGER" property="goodsCount"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    cart_item_id, user_id, goods_id, goods_count, is_deleted, create_time, update_time
  </sql>

    <!--根据userId获取购物车中的物品数量-->
    <select id="selectCountByUserId" resultType="integer">
    select
    sum(goods_count)
    from shopping_cart_item
    where user_id = #{userId,jdbcType=BIGINT} and is_deleted = 0
  </select>

    <insert id="saveGoods" parameterType="com.zrzhen.huozhiwang.entity.ShoppingCartItem">
        insert into shopping_cart_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="goodsCount != null">
                goods_count,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="value(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="goodsId != null">
                #{goodsId},
            </if>
            <if test="goodsCount != null">
                #{goodsCount},
            </if>
            <if test="isDeleted != null">
                #{isDeleted},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>
    <select id="selectCartItemByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shopping_cart_item
        where
        user_id = #{userId}
    </select>
    <select id="selectItemByGoodsIdAndUserId"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shopping_cart_item
        where
        user_id = #{userId} and goods_id = #{goodsId}
    </select>
    <update id="updateShoppingCartGoodsCount">
        update shopping_cart_item
        <set>
            <if test="goodsCount != null">
                goods_count = #{goodsCount}
            </if>
        </set>
        where cart_item_id = #{cartItemId}
        limit 1
    </update>

    <delete id="deleteShopCartItem">
        delete from shopping_cart_item where user_id = #{userId}
    </delete>

</mapper>